footer
  .container.text-center
    p.pull-left © 2015 2bees.com, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://2bees.com/about') About
      li
        a(href='https://2bees.com/contact') Contact
