extends layout

block content
  h1 2Bees
  p.lead Connect Communities.
  hr
  .row
    .col-sm-6
      h2 FLOWERS
      p using reactJS for the view
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 POLINATION
      p Build backend API using nodejs
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 HONEY
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 QUEEN messages
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »