extends layout

block content
  .page-header
    .row
      .col-sm-6.col-md-4
      .thumbnail
        img(src='/images/worker-bee.jpg', alt='worker bee', height=200, width=200, align='center')      
        .col-sm-6.col-md-5
          h3 What can we build for you?
          h4 - File Upload supporting ANY file types
          h4 - PopUp for alerting
          h4 - Stripe/Square shopping cart
          h4 - Facebook member features
          h4 - Wordpress integration for WiX site
          h4 - Custom Forms
          |         
          p 
          |         
          p


  
  .jumbotron
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='name') Name
        .col-sm-8
          input.form-control(type='text', name='name', id='name', autofocus=true)
      .form-group
        label(class='col-sm-2 control-label', for='email') Email
        .col-sm-8
          input.form-control(type='text', name='email', id='email')
      .form-group
        label(class='col-sm-2 control-label', for='message') Body
        .col-sm-8
          textarea.form-control(type='text', name='message', id='message', rows='7', placeholder=' I am want 1.file upload, 2.PopUp, 3.Facebook Member Features, in order of priority.')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send
        .col-sm-offset-1.col-sm-10
          p
          p(style='font-family:courier font-size:300% text-align:center')
          | We are grateful to be a part of the amazing and vibrant WiX community.
          | We would like to thank WiX for provinding us an amazing oasis and
          | nuturing space as members of the WiXLounge.

script.
    $(document).ready(function(){
      var from,to,subject,text;
      $("#send_email").click(function(){
      to=$("#to").val();
      subject=$("#subject").val();
      text=$("#content").val();
      $("#message").text("Sending E-mail...Please wait");
      $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
      if(data=="sent")
      {
      $("#message").empty().html("
      Email is been sent at "+to+" . Please check inbox !
      ");
      }
      });
      });
      });



    